# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform Variables
terraform.tfvars
*.auto.tfvars

# AWS Credentials
.aws/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
venv/
env/
.venv/

# Environment Variables
.env

# macOS
.DS_Store

# VS Code
.vscode/

# IntelliJ
.idea/

# Logs
*.log

# Docker
docker-compose.override.yml

# Temporary files
*.tmp
*.swp

# SSH Keys
*.pem
*.key